body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 128, 255);
  font-size: 30px;
  font-family: calibri;
  box-sizing: border-box;
}

#start {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  font-size: 300%;
  cursor: pointer;
}

#quiz {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

#question {
  display: flex;
  justify-content: center;
  align-items: center;
}

#choices {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

.choice {
  display: inline-block;
  width: 135px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.choice:hover {
  border: 1px solid rgb(15, 15, 15);
}

#score {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.61);
  position: sticky;
  top: 0;
}

ul img {
  margin-left: 30px;
}

ul > h2 {
  margin-left: 30px;
}

nav img {
  width: 37px;
  height: 37px;
  cursor: pointer;
}

ul {
  display: flex;
  margin-top: 1%;
  margin-right: 3%;
  margin-bottom: 1%;
}

ul li {
  list-style: none;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
ul li:hover {
  background-color: rgb(185, 185, 185);
  border: none;
}

.active {
  background-color: #750579;
  color: white;
}

ul h2 {
  margin-top: 5px;
}

